__pycache__/heroes_damage.cpython-39.pyc
__pycache__/heroes.cpython-39.pyc
__pycache__/HeroesBattle.cpython-39.pyc
__pycache__/HiroesBattle.cpython-39.pyc
__pycache__/image_ACS.cpython-39.pyc
__pycache__/imageACS.cpython-38.pyc
__pycache__/imageACS.cpython-39.pyc
